.hidden {
  display: none !important;
}

#pCodeVerif {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

#pCodeVerif h1{
  font-size: 10vh;
}

.code-verif {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code-verif input[type="submit"] {
  display: block;
  margin: 0 auto;
}

#pCodeVerif input[type="text"] {
  font-family: monospace;
  letter-spacing: 0.5em; /* espace entre chiffres */
  text-align: center;
  font-size: 2rem;
  width: 12ch; /* largeur pour 6 caractères avec espacement */
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  background-color: transparent;
}

#pCodeVerif input[type="text"]::placeholder {
  letter-spacing: 0.5em;
  color: #ccc;
}

#pCodeVerif label {
  display: block;
  margin-bottom: 0.3em;
  font-weight: bold;
  font-size: 20px;
}

#pCodeVerif .boutonValid {
  text-align: center;
  padding-top: 60px; /* espacement au dessus du bouton */
}

#pCodeVerif .boutonValid input{
  font-size: 20px;
  font-family: Arial;
  padding: 18px 48px;   /* taille du bouton (espace intérieur) */
  cursor: pointer;      /* curseur au survol */
  background-color: white;
  color: black;
  border: solid black;
}

#pCodeVerif .boutonValid input:hover {
    background-color: black;
    color: white;
    border: solid white;
}