#hUtil {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

#gauche #hCommun {
    font-size: 50px;
    margin: 0;
}

#hUtil .idNom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    white-space: nowrap; /* Garde le texte sur une ligne */
    font-size: 50px;
}

#hUtil .bProfil {
    background-color: transparent;
    color: #0077cc;
    border: 1px solid #0077cc;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

#hUtil .bProfil:hover {
    background-color: #0077cc;
    color: white;
}

#hUtil .hoverProfil{
    display: none;
}

#hUtil .bProfil:hover + #hUtil .hoverProfil, #hUtil .hoverProfil:hover{
    display: inline-block;
}

#hUtil .zoneProfil {
  position: relative;
}

/* Menu déroulant */
#hUtil .hoverProfil {
  position: absolute;
  top: 100%;           /* Sous le bouton Profil */
  right: 0;
  display: none;
  flex-direction: column;
  gap: 4px;
  background: white;
  border: 1px solid #ccc;
  padding: 4px;
  z-index: 1000;
}

/* Affichage au survol */
#hUtil .zoneProfil:hover .hoverProfil {
  display: flex;
}

#hUtil .hoverProfil button {
  font-size: 14px;
  font-family: Arial;
  width: 100px; /* largeur boutons */
  padding: 10px 0;
  margin: 0 10px; /* espacement entre boutons */
  cursor: pointer;
  background-color: white;
  color: black;
  border: solid black;
  box-sizing: border-box;
}

#hUtil .hoverProfil button:hover {
    background-color: black;
    color: white;
    border: solid white;
}