#hUtil {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

#gauche #hCommun {
  font-size: 50px;
  margin: 0;
}

.idNom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  white-space: nowrap; /* Garde le texte sur une ligne */
  font-size: 50px;
}

.bProfil {
  background-color: transparent;
  color: #0077cc;
  border: 1px solid #0077cc;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.bProfil:hover {
  background-color: #0077cc;
  color: white;
}
