.hidden {
  display: none !important;
}

#pAjoutAvis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

#pAjoutAvis h1{
    font-size: 6vh;
    margin: 0;
    line-height: 1.2;
}

#pAjoutAvis h1 + h1{
    padding-bottom: 20px;
}

#pAjoutAvis .form-avis #divNotes .formAvis{
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    align-items: center;
    margin-bottom: 15px;
}

#pAjoutAvis .labelText {
    font-size: 30px;
}

#pAjoutAvis input[type="number"] {
    font-size: 20px;
    width: 20%;
}

#pAjoutAvis input[type="text"] {
    font-size: 20px;
    height: 150px;
}

#pAjoutAvis .boutonValid input{
  font-size: 20px;
  font-family: Arial;
  padding: 10px 48px;   /* taille du bouton (espace intérieur) */
  cursor: pointer;      /* curseur au survol */
  background-color: white;
  color: black;
  border: solid black;
}

#pAjoutAvis .boutonValid input:hover{
    background-color: black;
    color: white;
    border: solid white;
}