#bouton-aside {
  position: fixed;
  left: 20px;
  top: 120px;
  z-index: 2000;
  transform: none;
}

#bouton-aside button {
  background-color: white;
  border: solid black 2px;
  color: black;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Arial;
  font-weight: bold;
}

#bouton-aside button:hover {
  background-color: black;
  color: white;
  border-color: white;
}
