.hidden {
  display: none !important;
}

#pEntree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

#pEntree h1{
    font-size: 10vh;
}

#pEntree .buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

#pEntree .buttons button {
  font-size: 24px;
  font-family: Arial;
  padding: 24px 48px;   /* taille du bouton (espace intérieur) */
  cursor: pointer;      /* curseur au survol */
  background-color: white;
  color: black;
  border: solid black;
}

#pEntree .buttons button:hover {
    background-color: black;
    color: white;
    border: solid white;
}