.hidden {
  display: none !important;
}

#pEtablissments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

#pEtablissments h1{
    font-size: 6vh;
}

#pEtablissments .blocCentral {
    font-size: 18px;
    width: 60%;
    min-height: 400px;
    background-color: white;
    border: 2px solid black;
    margin-top: 40px;
    display: flex;
    justify-content: center;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#pEtablissments .sousBloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}

#pEtablissments .nomEtab {
  font-size: 24px;
  font-family: Arial, sans-serif;
}

#pEtablissments .boutonSelect {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%; /* bouton rond */
  cursor: pointer;
}

#pEtablissments .boutonSelect:hover {
  background-color: black;
  color: white;
  border-color: white;
}
