.hidden {
  display: none !important;
}

#pEvalEtablis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

#pEvalEtablis h1{
    font-size: 6vh;
    margin: 0;
    line-height: 1.2;
}

#pEvalEtablis #evalContenu {
  display: flex;
  gap: 40px;           /* Espacement entre les deux sections */
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

#pEvalEtablis #evalNote .labelText,
#pEvalEtablis #evalNote .doublePoints,
#pEvalEtablis #evalNote .note,
#pEvalEtablis #evalNote .sur {
  font-size: 40px;
}

#pEvalEtablis #evalNote {
  flex: 1;
  padding: 30px;
  text-align: right;
  flex-direction: column;
  gap: 20px;
}

#pEvalEtablis .ligneNote {
    padding-bottom: 10px;
}

#pEvalEtablis .doublePoints {
    padding-right: 10px;
}

#pEvalEtablis #evalCommentaire {
  flex: 1;
  min-width: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#pEvalEtablis #evalCommentaire .titreComment {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

#pEvalEtablis #evalCommentaire .zoneCommentaire {
  flex: 1;
  background-color: white;
  border: 2px solid black;
  min-height: 400px;
  box-sizing: border-box;
}


#pEvalEtablis #ajoutAvis {
  font-size: 24px;
  font-family: Arial;
  padding: 18px 48px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: solid black 2px;
  align-self: center;
  margin-top: 20px;

  align-self: flex-end;
  margin-right: 100px;
}

#pEvalEtablis #ajoutAvis:hover {
  background-color: black;
  color: white;
  border-color: white;
}
