.hidden {
  display: none !important;
}

#pTableauBord {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

#pTableauBord h1{
    font-size: 10vh;
}

#pTableauBord .buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#pTableauBord button {
  font-size: 24px;
  font-family: Arial;
  width: 300px; /* largeur boutons */
  padding: 24px 0;
  margin: 0 10px; /* espacement entre boutons */
  cursor: pointer;
  background-color: white;
  color: black;
  border: solid black;
  box-sizing: border-box;
}
